body {
  margin: 0;
  height: 2000px;
}

section {
  background: url(https://image.istarbucks.co.kr/upload/common/img/main/2025/2026_new_year_promotion_bg_251226.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 578px;
  margin-top: 100px;
  display: flex;
  height: 100vh;
  overflow: hidden;
}
ul {
  list-style: none;
  display: flex;

  justify-content: center;
  align-items: center;
  height: 100vh;
}
.photo {
  display: block;
  position: absolute;
  top: 90px;
  left: 24.8569%;
  animation: photo 2s ease-out infinite alternate;
}
@keyframes photo {
  from {
    left: -25%;
    opacity: 0;
  }
  to {
    left: 25%;
    opacity: 1;
  }
}

.word {
  display: flex;
  position: absolute;
  top: 90px;
  right: 24.8569%;
  animation: word 2s ease-out infinite alternate;
}
.word div {
  display: block;
}

@keyframes word {
  from {
    left: 25%;
    opacity: 0;
  }
  to {
    left: -25%;
    opactiy: 1;
  }
}




/* 두번째 섹션 */
.section2 {
  background: url(https://www.starbucks.co.kr/common/img/main/fav_prod_bg_new.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 578px;
  margin-top: 100px;
  position: relative; /*✨*/
}
.cake {
  width: 615px;
  position: absolute; /*✨*/
  top: 100px;
  right: 50px;
  animation: cake 3s ease-in-out;
}
.pick {
  height: 100%;
  color: aliceblue;
  font-size: 5rem;
  width: 256px;
  position: absolute;
  top: 100px;
  left: 25%;
  animation: pick 2s ease-in-out;
}

@keyframes cake {
  from {
    right: -20px;
  }
  to {
    right: 20px;
  }
}
@keyframes pick {
  from {
    left: -25%;
  }
  to {
    left: 25%;
  }
}

@keyframes unPick {
  from {
    left: 25%;
  }
  to {
    left: -25%;
  }
}
