html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  display: grid;
  grid-template-areas:
    "header header header"
    "left main right";
  grid-template-columns: 200px 1fr 250px;
  grid-template-rows: 64px 1fr;
  height: 100vh;
  font-family: Arial, sans-serif;
  background: #000;
  color: #fff;
}

/* =========================
       HEADER (비워둠)
    ========================== */
header {
  grid-area: header;
  background: #121212;
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 0 20px;
}
/* =========================
       ASIDE LEFT 
    ========================== */

/* ASIDE LEFT 검색 UI */
.aside-left {
  grid-area: left;
  background: #121212;
  padding: 10px;
  overflow-y: auto;
}
.artist-link-block {
  display: block;
  background: #333;
  color: white;
  text-decoration: none;
  padding: 12px;
  margin-bottom: 4px;
  border-radius: 8px;
}
.artist-link-block:hover {
  background: #444;
}
/* =========================
       MAIN (iframe 영역)
    ========================== */
main {
  grid-area: main;
  padding: 20px;
  overflow-y: auto;
  background: #000;
}
iframe {
  width: 100%;
  height: 90vh;
  border-radius: 12px;
  border: none;
}

/* 추가된(검색가능한) 가수 링크 목록 스타일 */
.artist-links {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

/* 스크롤 가능한 링크박스(가수 목록이 많기에 스크롤, 그리고
    검색할 수 있는 가수들을 사용자에게 보여주기 위한 용도  */
.scrollable-list {
  max-height: 100px;
  overflow-y: auto;
}

/* 링크 디자인 */
.artist-links a {
  color: white;
  text-decoration: none;
  background-color: #2a2a2a;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 13px;
}
.artist-links a:link {
  color: #000;
}

.artist-links a:hover {
  background-color: #333;
}

/* =========================
       ASIDE RIGHT (드롭다운)
    ========================== */
aside.right {
  grid-area: right;
  background: #1e1e1e;
  padding: 10px;
  overflow-y: auto;
}
/* 기본적으로 숨기기 */
.dropbtn {
    display: none;
}
/* 클릭된 가수만 표시 */
.dropbtn.active{
    display: block;
}
.dropbtn.highlight{
    border: 2px solid #f39c12;
    background-color: #ffeaa7;
}

ul.dropbtn {
  list-style: none;
  background: #b7dbe8;
  color: #000;
  padding: 10px;
  margin-bottom: 12px;
  font-weight: bold;
  text-align: center;
  cursor: default;
}
ul.dropbtn h3 {
  margin: 0;
}
ul.dropbtn h3 a {
  color: #000;
  text-decoration: none;
}
ul.dropbtn h3 a:hover {
  text-decoration: underline;
}

.dropdown-content {
  display: none;
  margin-top: 8px;
}
.dropbtn:hover {
  animation: scale 0.25s ease forwards;
}
@keyframes scale {
  from {
    opacity: 0.9;
    transform: scale(0.9);
  }
  to {
    opacity: 1.1;
    transform: scale(1.1);
  }
}
.dropbtn:hover .dropdown-content {
  display: block;
}

.dropdown-content li {
  background: #222;
  color: #fff;
  padding: 6px;
  margin-top: 4px;
}

.dropdown-content li:hover {
  background: #277ec5;
  cursor: pointer;
}

.dropdown-content li::after {
  content: "가수를 검색할 수 있습니다.";
  display: block;
  font-size: 12px;
  color: #aaa;
  margin-top: 4px;
}
