* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  display: grid;
  grid-template-areas:
    "header header header"
    "main main main"
    "bottom bottom bottom";
  grid-template-columns: 200px 1fr 250px;
  grid-template-rows: 64px 1fr;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  background: #000;
  color: #fff;
}

/* =========================
       HEADER (비워둠)
    ========================== */
header {
  grid-area: header;
  background: #121212;
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 0 20px;
}
/* left-header */
.header-left {
  display: flex;
  align-items: center;
  gap: 20px;
}
.fa-spotify {
  font-size: 32px;
  color: #1db954;
}

/* center-header */
.header-center {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  min-width: 0; /* 가운데 영역이 필요할 때 줄어들 수 있게(아이콘을 안 막도록) */
}

/* festival icon*/
.fa-solid {
  font-size: 18px;
  color: #ffffff;
  background-color: #2a2a2a;
  padding: 10px;
  border-radius: 50%;
}

/* search box */
.search-box {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 420px;
  background-color: #2a2a2a;
  border-radius: 999px;
  padding: 8px 14px;
}
.search-box input {
  flex: 1;
  background: transparent;
  border: none;
  outline: none;
  color: white;
  font-size: 14px;
  margin-left: 10px;
  min-width: 0; /* place holder 길어도 input 수축 ㄱㄴ */
}

.search-icon {
  color: #b3b3b3;
}

/* 오른쪽 */
.header-right {
  display: flex;
  align-items: center;
  gap: 18px;
  flex-shrink: 0;
}

/* icon */

header .header-right i {
  color: #b3b3b3;
  font-size: 18px;
  cursor: pointer;
  background-color: #2a2a2a;
  border-radius: 999px;
}
header .header-right i:hover {
  color: #ffffff;
}


/* =========================
       MAIN (iframe 영역)
    ========================== */
main {
  grid-area: main;
  padding: 20px;
  overflow-y: auto;
  background: #000;
}
