
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

/* header */
.header{
    height: 64px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    background-color: #000;
}

/* left-header */
.header-left
{
    display: flex;
    align-items: center;
    gap: 20px;

}
.logo {
    font-size: 32px;
    color: #1db954;
}

/* center-header */
.header-center{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

/* home icon*/
.fa-house{
    font-size: 18px;
    color: #ffffff;
    background-color: #2a2a2a;
    padding: 10px;
    border-radius: 50%
}



/* search box */
.search-box{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 420px;
    background-color: #2a2a2a;
    border-radius: 999px;
    padding: 8px 14px;
}
.search-box input {
  flex: 1;
  background: transparent;
  border: none;
  outline: none;
  color: white;
  font-size: 14px;
  margin-left: 10px;
}

.search-icon {
  color: #b3b3b3;
}

/* 오른쪽 */
.header-right {
  display: flex;
  align-items: center;
  gap: 18px;
}



/* icon */
i{
    color: #b3b3b3;
    font-size: 18px;
    cursor: pointer;
}
i:hover{
    color: #ffffff;
}
