
*{
    margin: 0;
    padding: 0;
}
/* 해더 부분 시작 */
header{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;  
    margin-top: 20px;
}
a{
    text-decoration: none;
    color: gray;
    font-weight: 600;
    font-size: 14px;
    font-family: Arial, helvetica, sans-serif;
}
.nav a{
    padding: 15px;
}
a:hover{
    color: #01a1dd;
    background-color: aliceblue;
}
.logo{
    margin-left: 30px;
}
.logo img{
    width: 60px;
}
main{
    background-image: url(/images/cofffee.avif);
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    margin-bottom: 30px;
}
.ment1{
    position: relative;
    top: 30px;
    left: 45px;
    font-size: 1em; /*기본 16px=1em 부모 요소의 1배만큼*/
    color: lightgray;
        font-family: Arial, helvetica, sans-serif;

}
.ment2{
    position: relative;
    top: 295px;
    left: 45px;
    font-size: 3em;
    color: lightgray;
    font-family: Arial, helvetica, sans-serif;

}
button{
    position: relative;
    top: 300px;
    left: 45px;
    background-color: #01a1dd;
    border: 0;
    padding: 5px 24px;
    font-weight: 400;
    cursor: pointer;
}
.hero-btn{
  align-self: flex-start; /* 버튼을 왼쪽 기준으로 */
  background-color: #01a1dd;
  border: 0;
  padding: 8px 26px;
  font-weight: 500;
  cursor: pointer;
}
/* footer */
footer{
    color: gray;
    font-weight: 600; /*글자 두께*/
    letter-spacing: 1.5px; /* 글자 간격*/
    font-size: 14px;
    padding: 10px 50px;

}

footer a img{
    width: 20px;
}
.fa-brands{
    font-size: 30px;
}